.form-container {
    height: 100vh;
    position: relative;
    background-image: url('../../../../public/img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-container::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(90, 90, 90, 0.863);
}


@media (max-width: 700px) {
    .form-container {
        height: 87vh;
        position: relative;
    }


}

.form-floating label {
    color: black;
}


.card {
    min-width: 28vw !important;
    background-color: #ffffff;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.login-links a {
    text-decoration: none;
    font-size: 13pt;
    color: #000000;
}

.btnLogin {
    background-color: #000000;
    border-style: none;
    border-color: #000000;
    color: #fff;
}

.btnLogin:hover {
    background-color: #363636;
    color: #fff;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 3px #000000 !important;
    outline: 0 none;
}

.colorCard {
    background-color: #6b6b6bc2;
}